<header class="flex items-center justify-between w-full bg-gray-400 h-12">
    <div class="flex items-center gap-1 pl-6">
        <i class="ph-bold ph-alarm text-gray-900 text-2xl"></i>
        <h1 class="text-xl text-gray-900 font-semibold">UpWatch</h1>
    </div>

    <nav class="flex h-full">
        <a class="flex items-center gap-1 px-6 text-gray-900 hover:bg-gray-500 hover:text-cyan-500 hover:cursor-pointer">
            <i class="ph ph-squares-four text-2xl"></i>
            <h1 class="text-xl">Projects</h1>
        </a>

        <a class="flex items-center gap-1 px-6 text-gray-900 hover:bg-gray-500 hover:text-cyan-500 hover:cursor-pointer">
            <i class="ph ph-user-circle text-2xl"></i>
            <h1 class="text-xl">Profile</h1>
        </a>
    </nav>
</header>